@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

/*
  font-family: "Satisfy", cursive;
  font-family: "Sono", sans-serif;
  font-family: "Bad Script", cursive;
*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #f0a9a9;
}

#loading {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f0a9a9;
  background-image: url(https://vtresmarias.github.io/media/images/backgrounds/vtm_hinaBG.jpg);
  -webkit-transition: 1.25s;
  -moz-transition: 1.25s;
  -o-transition: 1.25s;
  transition: 1.25s;
}
.vtmLotusLoad {
  height: 75px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 1;
  -webkit-animation: lotusLoad 2.5s infinite;
  animation: lotusLoad 2.5s infinite;
}
@-webkit-keyframes lotusLoad {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
@keyframes lotusLoad {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
.lotusCol {
  float: left;
  width: 33.33%;
}
.lotusRow:after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 750px) {
  .lotusCol {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

body {
  background-color: #f0a9a9;
  font-family: "Satisfy", cursive;
  color: white;
}
@media screen and (min-width: 1000px) {
  body {
    font-size: x-large;
  }
}
@media screen and (min-width: 2000px) {
  body {
    font-size: xx-large;
  }
}

.text {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 250px;
  padding-right: 250px;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .text {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.bkOVL {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  background-color: #00000080;
}
.redebutPlayer {
  width: 100%;
  height: auto;
  display: block;
}

.imgBorders {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 25%;
}
.textOVL {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg1 {
  /* image by pikisuperstar on Freepik */
  background-image: url(backgrounds/6574814.jpg);
}
.bg2 {
  /* photo by eberhard 🖐 grossgasteiger on Unsplash */
  background-image: url(backgrounds/eberhard-grossgasteiger-nqYbkm8Wg_I-unsplash.jpg);
}
.bg3 {
  /* photo by X. Wen on Unsplash */
  background-image: url(backgrounds/x-wen-qjCHPZbeXCQ-unsplash.jpg);
}

/*
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff80;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffffc0;
}
*/

.hinaTimer {
  width: 100%;
  padding: 5px;
  background-color: black;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: "Sono", sans-serif;
  text-align: center;
  z-index: 1;
}
#hinaDebutTimer {
  font-size: xx-large;
  font-weight: 700;
}

.hinaBTN {
  background-color: #f0a9a9;
  border-style: none;
  border-radius: 1000px;
  color: white;
  padding: 10px 25px;
  font-family: "Sono", sans-serif;
  font-size: large;
  text-align: center;
  text-decoration: none;
  margin: 15px;
  cursor: pointer;
}
.hinaBTN:hover {
  background-color: #c98989;
}

.imgEmbed {
  max-width: 100%;
  height: auto;
}

.vtmFullHead-back {
  background-image: url(https://vtresmarias.github.io/media/images/backgrounds/vtm_hinaBG.jpg);
}

.hinaURL:link {
  color: #ffffff;
  text-decoration: none;
}
.hinaURL:visited {
  color: #ffffff;
  text-decoration: none;
}
.hinaURL:hover {
  color: #eeeeee;
  text-decoration: none;
}
.hinaURL:active {
  color: #f0a9a9;
  text-decoration: none;
}