#navProfile, #navHiatus { display: none; }

/* =============== /?vt?=about =============== */

.info {
  background-color: #66a898;
  color: white;
  padding: 250px 15px;
}
.info > div {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}
.info > div > h2 > span { display: block; }

/* =============== /?vt?=hiatus =============== */

.hiatusBG {
  background-color: #66a898;
  background-image: url("/assets/images/content/secondMaria/aura_sayonara_notext.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  padding: calc(250px + 15px) 0 250px 0;
}
.hiatusBG * { margin: 0; }
.hiatusBG > div {
  background-color: #000000c0;
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
  border-radius: 15px;
}
div[hiatusTxt] {
  font-family: "DiscordGG Sans", "Windows 11 Emoji", sans-serif;
  letter-spacing: initial;
}
div[hiatusTxt] p > img {
  display: inline-block;
  width: 0.875em;
  height: auto;
  aspect-ratio: 1 / 1;
  -o-object-fit: contain;
  object-fit: contain;
}