#navProfile, #navSayonara, #navAnniv { display: none; }

/* =============== /?vt?=about =============== */

.info {
  background-color: #f0a9a9;
  color: #ffffff;
  padding: 25rem 1.5rem;
}
.info > div {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}
.info > div > h2 > span { display: block; }

/* ============== /?vt?=sayonara ============== */

.sayonaraBG {
  background-color: #f0a9a9;
  background-image: url("/assets/images/content/thirdMaria/hina_sayonara_notext.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  padding: calc(25rem + 1.5rem) 0 25rem 0;
}
.sayonaraBG * { margin: 0; }
.sayonaraBG > div {
  background-color: #000000c0;
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  padding: 6rem 1.5rem;
  border-radius: 1.5rem;
}
div[sayonaraTxt] {
  font-family: "DiscordGG Sans", "Windows 11 Emoji", sans-serif;
  letter-spacing: initial;
}
div[sayonaraTxt] p > img {
  display: inline-block;
  width: 0.875em;
  height: auto;
  aspect-ratio: 1 / 1;
  -o-object-fit: contain;
  object-fit: contain;
}

/* ============ /?vt?=hinaversary ============ */

.hinaVersaryBack {
  background-color: #f0a9a9;
  background-image: url("/assets/images/content/thirdMaria/hinaversary/hinaversary_bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hinaVersaryTxt {
  text-align: center;
  padding: calc(25rem + 2.5rem) 1.5rem 25rem 1.5rem;
  color: #ffffff;
  & * { display: block; }
  & img {
    width: 50rem;
    max-width: 100%;
    margin: 0 auto;
  }
}