@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #793a80;
  background-image: url(https://vtresmarias.github.io/media/images/backgrounds/vtm_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  font-family: "Noto Serif Display", "Noto Serif JP", serif;
  letter-spacing: -1px;
  font-weight: 500;
  color: #3d374c;
  filter: drop-shadow(2px 4px 16px #3d374c80);
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -2px;
}
h1 {
  font-style: italic;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  pointer-events: none;
}

button {
  background-color: #793a80;
  border: solid 1.25px white;
  border-radius: 1000px;
  color: white;
  padding: 10px 25px;
  font-family: inherit;
  font-weight: 600;
  font-style: italic;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  filter: drop-shadow(2px 4px 16px #3d374c80);
}
button:hover {
  background-color: #66a898;
}
button:active {
  background-color: #f0a9a9;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

a:link, a:visited {
  color: #c4b0a6;
  text-decoration: none;
}
a:hover {
  color: #eed5c9;
  text-decoration: none;
}
a:active {
  color: #584b7a;
  text-decoration: none;
}

/* SITE-WIDE RESPONSIVE LAYOUTS */
@media screen and (min-width: 768px) {
  body {
    font-size: normal;
  }
}
@media screen and (min-width: 1080px) {
  body {
    font-size: large;
  }
}
@media screen and (min-width: 1620px) {
  body {
    font-size: larger;
  }
}
@media screen and (min-width: 2160px) {
  body {
    font-size: x-large;
  }
}