@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #d6d8e5;
  background-image: url(LEIDRAM2024_bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  font-family: "Fahkwang", "Klee One", sans-serif;
  color: white;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montez", cursive;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: .75em;
}
/* heading references: http://zuga.net/articles/html-heading-elements */

a:link, a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #d6d8e5;
  text-decoration: none;
}
a:active {
  color: #f2ddc2;
  text-decoration: none;
}

header {
  background-color: #f2ddc2;
  padding: 15px 25px;
  font-family: "Architects Daughter", cursive;
  color: black;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  box-shadow: 0 10px 15px #d6d8e5a0;
  text-transform: uppercase;
}
.headURL:link, .headURL:visited {
  color: black;
}
.headURL:hover {
  color: #d3b551;
}
.headURL:active {
  color: #fed962;
}

button {
  background-color: #d6d8e5;
  color: black;
  border: none;
  border-radius: 999px;
  margin: 5px;
  padding: 15px 25px;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
}
button:hover {
  background-color: #f2ddc2;
}
button:active {
  background-color: #fed962;
}

/* SITE-WIDE RESPONSIVE LAYOUTS */
@media screen and (min-width: 768px) {
  body {
    font-size: normal;
  }
}
@media screen and (min-width: 1080px) {
  body {
    font-size: large;
  }
}
@media screen and (min-width: 1620px) {
  body {
    font-size: larger;
  }
}
@media screen and (min-width: 2160px) {
  body {
    font-size: x-large;
  }
}