@font-face {
  font-family: "MahorobaFont";
  src: url(../fonts/MahorobaR.otf);
}
@font-face {
  font-family: "MahorobaFont";
  src: url(../fonts/MahorobaM.otf);
  font-weight: 500;
}
@font-face {
  font-family: "MahorobaFont";
  src: url(../fonts/MahorobaB.otf);
  font-weight: 700;
}
@font-face {
  font-family: "MahorobaFont";
  src: url(../fonts/MahorobaH.otf);
  font-weight: 900;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
}

* {
  box-sizing: border-box;
}

/*
  mahotan colors
  blue: #dff2fd
  pink: #fde6ff
*/

#loadBlock {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(mahoroba_sayonara.jpg);
  background-color: #fde6ff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-transition: 2.5s;
  -moz-transition: 2.5s;
  -o-transition: 2.5s;
  transition: 2.5s;
  box-shadow: 0 0 25px #fde6ff;
}
.mahotanSplash {
  width: 750px;
  max-width: 100%;
  height: auto;
  /* filter: drop-shadow(0 0 7.5px #fff); */
  padding: 30px;
}
.mahotanLoad {
  width: 26px;
  max-width: 100%;
  height: auto;
  -moz-animation: sBeen 1s linear infinite;
  -ms-animation: sBeen 1s linear infinite;
  -webkit-animation: sBeen 1s linear infinite;
  -o-animation: sBeen 1s linear infinite;
  animation: sBeen 1s linear infinite;
}
@-moz-keyframes sBeen {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes sBeen {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}
@-webkit-keyframes sBeen {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-o-keyframes sBeen {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}
@keyframes sBeen {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

html {
  background-color: #dff2fd;
}

body {
  background-image: url(mahoroba_bg.jpg) !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "MahorobaFont" !important;
  color: white !important;
}

.mahotanIntro {
  padding: 150px 50px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.mahotanIntro-in {
  width: 875px;
  max-width: 100%;
  margin: auto;
}
.mahorobaEpilogue {
  width: 750px;
  max-width: 100%;
  height: auto;
}

.mahotanCol {
  float: left;
  width: 50%;
}
.mahotanRow:after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 750px) {
  .mahotanCol {
    width: 100%;
  }
}

.mahorobaLogo {
  width: 750px;
  max-width: 100%;
  height: auto;
}

.yokai {
  max-width: 100%;
  height: auto;
  aspect-ratio: 9 / 16;
  object-fit: cover;
}

button {
  background-color: #fde6ff;
  border: none;
  border-radius: 1000px;
  color: black;
  padding: 10px 25px;
  font-family: "MahorobaFont";
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  margin: 15px;
  cursor: pointer;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  box-shadow: 0 0 15px #00000080;
}
button:hover {
  background-color: #dff2fd;
}

@media screen and (max-width: 750px) {
  body {
    font-size: small;
  }
}