@font-face {
    font-family: "MahorobaB";
    src: url(A-OTFMaruB.otf);
}

@font-face {
    font-family: "MahorobaH";
    src: url(A-OTFMaruH.otf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #dff2fd, #fde6ff);
    color: #000;
}

a {
    color: #000;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}