#loadBlock {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #3d374c;
  background-image: url("https://vtresmarias.github.io/assets/images/backgrounds/vtm_bg_2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  z-index: calc(2022 + 2);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 100px 16px #3d374c80;
  -webkit-transition: 1.25s;
  -moz-transition: 1.25s;
  -o-transition: 1.25s;
  transition: 1.25s;
}
#loaderFade {
  -webkit-transition: 1.25s;
  -moz-transition: 1.25s;
  -o-transition: 1.25s;
  transition: 1.25s;
}

header, #mobileNav {
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: 2022;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
}
div[isDesktop], div[isMobile] {
  align-items: center;
  gap: 0.5rem;
}
header {
  background: linear-gradient(#dcc6bba0, #00000000);
  justify-content: space-between;
}
header > *, #mobileNav > * {
  -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
  filter: drop-shadow(2px 4px 16px #3d374c80);
}
#mobileNav {
  z-index: calc(2022 + 1);
  justify-content: flex-end;
  text-align: right;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transition: 1.25s;
  -moz-transition: 1.25s;
  -o-transition: 1.25s;
  transition: 1.25s;
  -webkit-transform: translateY(-15rem);
  -moz-transform: translateY(-15rem);
  -ms-transform: translateY(-15rem);
  -o-transform: translateY(-15rem);
  transform: translateY(-15rem);
}
#mobileNav > span[onclick="{ panelClose(); }"] { margin-left: 1rem; }


footer {
  width: 100vw;
  padding: 0.75rem;
  font-family: "Inter", "Noto Sans JP", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  text-align: right;
  background-color: #3d374c;
  color: #dcc6bb;
  letter-spacing: normal !important;
}
footer > * { margin: 0; }
footer > span { display: block; }
footer > span > a:link, footer > span > a:visited { color: #dcc6bb; }
footer > span > a:hover { color: #b4a39a; }
footer > span > a:active { color: #eed6ca; }
span.socialsV2 {
  -moz-user-select: none;
  user-select: none;
  margin: 0.5rem 0.5rem 0 0;
  & i {
    cursor: pointer;
    margin-left: 0.5rem;
  }
  & i:hover { color: #b4a39a; }
}

#vtLogo { filter: drop-shadow(2px 4px 16px #3d374c80); }

.vtmWP {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/VTresMarias.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.profileHead {
  width: 100vw;
  padding: 25rem 1.5rem;
  background-image: url("https://vtresmarias.github.io/assets/images/backgrounds/vtm_bg_3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: -5;
}
.profileHead > div {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
}

#miscBtn1, #miscBtn2 {
  display: none;
  margin-right: 1.5rem !important;
}