@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #111111 25%, #595959 100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Courgette', cursive;
  color: #fff;
}

.title {
  background-image: url(yearinmanga.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 75%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0.25;
  font-size: xx-large;
  white-space: nowrap;
}
@media screen and (max-width: 500px) {
  .title {
    height: 50%;
    font-size: medium;
  }
}

.tbCol {
  float: left;
  width: 50%;
  padding: 25px;
}
.tbRow:after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 750px) {
  .tbCol {
    width: 100%;
    padding-bottom: 0;
  }
}

.tbSupp {
  float: left;
  width: 20%;
  padding: 25px;
}
@media screen and (max-width: 2500px) {
  .tbSupp {
    width: 20%;
  }
}
@media screen and (max-width: 2000px) {
  .tbSupp {
    width: 25%;
  }
}
@media screen and (max-width: 1500px) {
  .tbSupp {
    width: 33.33%;
  }
}
@media screen and (max-width: 1000px) {
  .tbSupp {
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  .tbSupp {
    width: 100%;
  }
}

.feat {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.grad-left {
  background: linear-gradient(to right, #11111100 0%, #111111ff 95%);
}
.grad-right {
  background: linear-gradient(to left, #11111100 0%, #111111ff 95%);
}
@media screen and (max-width: 750px) {
  .grad-left, .grad-right {
    background: linear-gradient(to bottom, #11111100 0%, #111111ff 95%);
  }
}

.honorable {
  width: 100%;
  padding: 25px;
}

.ytembed {
  overflow: hidden;
  position: relative;
  width: 100%;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.ytembed::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}
.ytembed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a:link {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #999;
  text-decoration: none;
}
a:active {
  color: #ddd;
  text-decoration: none;
}
a:visited {
  color: #bbb;
  text-decoration: none;
}

footer {
  background-color: #000;
  padding: 10px;
  text-align: center;
}