@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');
  /* font-family: "Kiwi Maru", serif; */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
  /* font-family: "Courgette", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  /* font-family: "Noto Serif Display", serif;*/

@font-face {
  font-family: "EPSON Japanese", cursive;
  src: url(fonts/epgyosho.ttf);
}
@font-face {
  font-family: "EPSON Japanese", cursive;
  src: url(fonts/epgyobld.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "MahorobaFont";
  src: url(fonts/MahorobaR.otf);
}
@font-face {
  font-family: "MahorobaFont";
  src: url(fonts/MahorobaM.otf);
  font-weight: 500;
}
@font-face {
  font-family: "MahorobaFont";
  src: url(fonts/MahorobaB.otf);
  font-weight: 700;
}
@font-face {
  font-family: "MahorobaFont";
  src: url(fonts/MahorobaH.otf);
  font-weight: 900;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
}

* {
  box-sizing: border-box;
}

a:link {
  color: #e27faf;
  text-decoration: none;
}
a:hover {
  color: #ff9bcb;
  text-decoration: none;
}
a:active {
  color: #595959;
  text-decoration: none;
}
a:visited {
  color: #b65d88;
  text-decoration: none;
}

body {
  background: linear-gradient(to bottom right, #111 25%, #595959 100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Kiwi Maru", serif;
  color: #fff;
}

header {
  background-color: #111;
  text-align: center;
  box-shadow: 0 7.5px 10px #59595940;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

footer {
  background-color: #000;
  background-image: url(sakurasumiyoi_new_icon.svg);
  background-size: 75%;
  background-position: 200% center;
  background-repeat: no-repeat;
  width: 100%;
}
.footerTXT {
  background-color: #000000c0;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.logoplace {
  padding: 25px;
}
.sakurasumiyoi {
  background-image: url(sakurasumiyoi_new_logo.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.ornament {
  background-image: url(sakurasumiyoi_new_ornament.svg);
  background-size: 150%;
  background-position: 125% center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.txt {
  padding-top: 300px;
  padding-bottom: 300px;
  padding-left: 75px;
  padding-right: 75px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .txt {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.ytembed {
  overflow: hidden;
  position: relative;
  width: 100%;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.ytembed::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}
.ytembed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mahorobaBack {
  background-image: url(youjokitan/mahoroba_sayonara.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.mahorobaFore {
  background-color: #00000080;
  font-family: "MahorobaFont";
  font-weight: 700;
  text-align: center;
}
.mahorobaBtn {
  background-color: #fde6ff;
  border: none;
  border-radius: 1000px;
  color: black;
  padding: 10px 25px;
  font-family: "MahorobaFont";
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  margin: 15px;
  cursor: pointer;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.mahorobaBtn:hover {
  background-color: #dff2fd;
}