body {
  background-color: #e27faf;
  scroll-behavior: smooth;
}

.heroHead {
  background-image: url(yearinmanga_2023.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding: 250px 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif Display", serif;
}
p {
  font-family: "Kiwi Maru", serif;
}

.divBlockBack {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.divBlockFore {
  padding: 250px 25px;
  background-color: #00000060;
}
.txtBlock {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.mangaCol {
  float: left;
  width: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.mangaRow:after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 900px) {
  .mangaCol {
    width: 100%;
  }
}

.mangaColSel {
  padding: 75px 25px;
  text-align: center;
  color: white;
  background-color: #000000d0;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
}
.mangaColSel:hover {
  background-color: #00000080;
  cursor: pointer;
}

button /* root button */ {
  background-color: #e27faf;
  border: solid black;
  border-radius: 1000px;
  color: black;
  padding: 15px 25px;
  font-family: "Kiwi Maru", serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
button:hover {
  background-color: black;
  border: solid #e27faf;
  color: #e27faf;
}

.bounceUp {
  animation: bncUp 2.5s ease infinite;
}
@keyframes bncUp {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
.bounceDown {
  animation: bncDwn 2.5s ease infinite;
}
@keyframes bncDwn {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(30px);}
	60% {transform: translateY(15px);}
}
/* related codepen: https://codepen.io/nelledejones/pen/gOOPWrK */

.mangaShowc {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 75vh;
  top: 0;
}
@media screen and (max-height: 700px) {
  .mangaShowc {
    height: 62.5vh;
  }
}

.rankedCollapse {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border: none;
  color: black;
  border-radius: 25px;
  background-image: url(../sakurasumiyoi_new_icon.svg);
  background-size: 20%;
  background-position: 110% center;
  background-repeat: no-repeat;
}
.rankedExpand, .rankedCollapse:hover, .mangaBtn:hover, .notableManga:hover {
  border: none;
  background-color: black;
  color: white;
}
.rankedCollapse::after {
  font-family: "Material Symbols Rounded";
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 24;
  content: "\e5cf";
  font-size: 1em;
  float: right;
}
.rankedExpand::after {
  font-family: "Material Symbols Rounded";
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 24;
  content: "\e5ce";
  font-size: 1em;
  float: right;
}
.mangaBtn {
  border: none;
  color: black;
  border-radius: 25px;
}
.notableManga::after {
  font-family: "Material Symbols Rounded";
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 24;
  content: "\e1c4";
  font-size: 1em;
  float: right;
}

.mangaDetailsBack {
  width: 85%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
  margin: 0 auto;
  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0 0 25px 25px;
}
.mangaDetailsFore {
  border-radius: inherit;
  background-color: #000000d0;
  padding: 5px 20px 20px 20px;
  text-align: left;
}

#backToTop {
  bottom: 10px;
  left: 50%;
  display: none;
  position: fixed;
  border: none;
  outline: none;
  background-color: #e27faf;
  color: white;
  padding: 10px;
  z-index: 49;
  margin: 0 auto;
}
#backToTop::after {
  font-family: "Material Symbols Rounded";
  content: "\e5d8";
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

/* modal viewer */
#showEmbed {
  background-color: #000000a0;
  position: fixed;
  z-index: 99;
  display: none;
}
.flexEmbed {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
#embedViewer {
  width: 750px;
  max-width: 100vw;
  height: auto;
  background-color: black;
  border-radius: 25px;
}
iframe {
  display: block;
  border: none;
  padding: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: inherit;
}